*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family:"Old English Text MT" , 'Times New Roman', Times, serif, sans-serif;;
}

#page1{
    min-height: 100vh;
    width: 100vw;
    background: url(img/womenbggg.webp)center/cover no-repeat;
}
#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding-top: 0vh;
    padding-left: 2vh;
    
}
#page1 #nav a{
    color: white;
    list-style-type: none;
    text-decoration: none;
}
#page1 #nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    color: white;
    gap:2vh ;
    padding: 5vh;
    
}
#page1 #nav ul li a{
    color: white;

    
}
#page2{
    background-color: white;
    min-height: 100vh;
    width: 100vw;
    font-family: 'Times New Roman', Times, serif;
}

#page2 .clothes {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    background-color: #1e1a19;
    
    
}
#page2 .clothes .card{
    position: relative;
    width: 600px;
    height: 700px;
    
    margin: 5px 5px 25px 0px;
    text-decoration: none;
    transition: .3s linear;
    padding: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: 50px;
}

/* #page2 .clothes .card:hover{
    transform: scale(1.1);
} */
#page2 .clothes .card .card_title{
    font-size: 20px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
    margin-left: 60px;
    overflow-y: hidden;
    display: inline;
    
}

#page2 .clothes .card img{
    width: 80%;
    height: 600px;
    margin-left: 60px;
    
    
}

#page2 .clothes .card .price h5 {
    margin-left: 60px; 
    color: white;
    display: inline;
    
   
}
#page2 .clothes .card p {
    margin-left: 0px;
    color: white;
    display: inline;
}